<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
          <h2>注册</h2>
          <hr>
          <form method="post" action="/auth/register">
            <div class="mb-3">
              <label for="item" class="form-label">用户名</label>
              <input name="username" type="text" class="form-control" id="item">
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">密码</label>
              <input name="password" type="password" class="form-control" id="time">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary w-100">注册</button>
          </form>
          <div class="text-center mt-3">
            <p>已有账号？<a href="/auth/login">立即登录</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
