<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h2>添加</h2>
          <hr>
          <form method="post" action="/bill/create">
            <div class="mb-3">
              <label for="title" class="form-label">事项</label>
              <input name="title" type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">发生时间</label>
              <input name="time" type="text" class="form-control" id="time">
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">类型</label>
              <select name="type" class="form-select" id="type">
                <option value="">请选择</option>
                <option value="-1">支出</option>
                <option value="+1">收入</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cost" class="form-label">金额</label>
              <input name="cost" type="text" class="form-control" id="cost">
            </div>
            <div class="mb-3">
              <label for="remark" class="form-label">备注</label>
              <textarea name="remark" class="form-control" id="remark"></textarea>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary w-100">添加</button>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
